<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3D 棱柱 - 鼠标事件 & 带光照效果</title>
    <link href="//a.amap.com/Loca/static/manual/example/style/demo.css" rel="stylesheet">
    <style>
        html,
        body,
        #container {
            margin: 0;
        <!--padding: 0;-->
            width: 100%;
            height: 100%;
            font-size: 13px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <title>3D标签图</title>
</head>
<body>
<div id="container" class="container">
</div>
<!--<script src="./script/loca.js"></script>-->
<script src="https://webapi.amap.com/maps?v=1.4.15&key=dcdb0102f9125cd8f4f5a470e7604dab&plugin=AMap.CustomLayer,AMap.ControlBar,AMap.Heatmap"></script>
<script src="//webapi.amap.com/loca?v=1.2.0&key=dcdb0102f9125cd8f4f5a470e7604dab"></script>
<script src="//a.amap.com/Loca/static/mock/bj_heat_grid.js"></script>
<script src="//a.amap.com/Loca/static/manual/example/script/demo.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">/*关联文本的表达方式*/

$(function(){

    var map = new AMap.Map('container',{
        viewMode: '3D',
        mapStyle: "amap://styles/blue",
        pitch: 50,
        zoom: 8,
        resizeEnable: true,
        showLabel: true,
        center: [106.71, 26.57],
        features: ['bg', 'road'],
    });
    map.addControl(new AMap.ControlBar({}));

    var map = Loca.create(map);


    var layer = Loca.visualLayer({
        eventSupport: true,
        container: map,
        type: 'point',
        // 棱柱类型仅 3D 模式下支持。
        shape: 'prism',
        // 设定棱柱体顶点数量
        vertex: 4
    });

    var list1 = [[${heatmapData}]].map(function (value) {
        /*    console.log(value)
            console.log(value.lng+","+value.lat);*/
        return {
            coord: value.lng+","+value.lat,
            value: value.count,
            address: value.address
        }
    });
    /*var list = heatGrid.map(function (value) {
        var val = value.split('$');
        console.log(val);
        return {
            coord: val[1],

            value: +val[0]
        }
    });*/

    layer.setData(list1, {lnglat: 'coord'});        //给图层传入数据
    /*    layer.setData(list.slice(0, 5000), {
            lnglat: 'coord'
        });*/

    var colors = [
        '#38afff',
        '#abd9e9',
        '#ffffbf',
        '#fdae61',
        '#d7191c'
    ];

    layer.setOptions({
        // 单位米
        unit: 'meter',
        light: {
            // 环境光
            ambient: {
                // 光照颜色
                color: '#ffffff',
                // 光照强度，范围 [0, 1]
                intensity: 0.5
            },
            // 平行光
            directional: {
                color: '#ffffff',
                // 光照方向，是指从地面原点起，光指向的方向。
                // 数组分别表示 X 轴、Y 轴、Z 轴。
                // 其中 X 正向朝东、Y 正向朝南、Z 正向朝地下。
                direction: [1, -1.5, 2],
                intensity: 0.6
            }
        },
        style: {
            // 正多边形半径
            radius: 5000,
            height: {
                key: 'value',
                value: [0, 50000]
            },
            // 顶边颜色
            color: {
                key: 'value',
                scale: 'quantile',
                value: colors
            },
            opacity: 0.9,
            // 旋转角度，单位弧度
            rotate: Math.PI / 180 * 45
        },
//        selectStyle: {
//            color: '#fcff19',
//            opacity: 0.9
//        }
    });


    layer.on('mousemove', (ev) => {
        openInfoWin(map.getMap(), ev.originalEvent, {
            '区县': ev.rawData.address,
            '危房': ev.rawData.value
        });
    });

    layer.render();


})
</script>
</body>
</html>