<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>贵州云建筑</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <script type="text/javascript" src="../../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../../static/js/echarts-gl.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=dcdb0102f9125cd8f4f5a470e7604dab&plugin=AMap.Scale,AMap.ToolBar"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-extension-amap@latest/dist/echarts-extension-amap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/app2.css" />
</head>

<body class="bg05">
<header class="header">
    <h3>贵州云建筑分析</h3>
</header>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row fill-h">
            <div class="col-lg-7 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-1">
                    <div class="xpanel no-bg">
                        <div class="fill-h" id="paoMap"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-2-3">
                    <div class="xpanel">
                        <div class="fill-h" id="line"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-1-3">
                    <div class="xpanel">
                        <div class="fill-h" id="lineArea"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/app2.js"></script>
</body>
</html>